/* ------- Font ------- */
body {
  color: black;
  font-size: 18px;
  font-family: system-ui, sans-serif;
}

@media only screen and (max-width: 680px) {
  body {
    font-size: 16px;
  }
}

/* ------- Single page structure ------- */
/* Be really carrefull modifying following lines, you could break the site */
body {
  position: relative;
  width: 64em;
  max-width: 100%;
  margin: 0 auto;
}

section {
  padding: calc(6em + 5vw) 5vw 8vw 5vw;
  display: none; /* Hidden by default */
  position: absolute;
  top: 0;
  min-height: 300dvh; /* Need when #home too big will appear at the bottom */
  width: 100%;
  background: white; /* color set need to avoid transparency */
}

section:target {
  /* Show section selected */
  display: block;
}

section#home {
  /* Show #home by default */
  display: block;
}

/* ------- Header ------- */
header {
  box-sizing: border-box;
  background-color: red;
  padding: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  z-index: 2;
}

header h1 {
  background-color: blue;
  font-size: 1em;
  flex: 1; /* pushes nav to the right */
  white-space: nowrap;
  display: block;
}
nav {
  background-color: yellow;
}

nav a {
  display: inline-block;
  text-align: center;
}

nav a:not(:last-of-type) {
  margin-right: 1.5vw;
}
